# Environment variables
.env
.env.local
.env.*.local
.env.production.local

# Dependency directories
node_modules/
jspm_packages/

# Production build directories
/build
/dist
.next/
out/
.docusaurus/

# IDE / Editor folders
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db
desktop.ini
ehthumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Server configuration files
.env.development.local
.env.test.local
